:root {
    --bs-primary: #000;
}

.font-serif, h1, h2, h3, h4, h5 {
    font-family: "DM Serif Text", serif;
}

h1 {
    margin-bottom: 2rem;
}

h2, h3, h4, h5 {
    margin: 2rem 0 1rem;
}

h2 {
    margin-top: 3rem;
}

header {
    height: 50px;
    width: 100%;
    background-color: var(--bs-primary);
}

.link {
    color: inherit;
    text-decoration: dotted;

    &:hover {
        color: var(--bs-link-color);
        text-decoration: underline;
    }
}

#nav-breadcrumbs {
    padding: 1rem 0;
    margin-bottom: 2rem;
    font-size: .9rem;
    background-color: #fff3cd;

    .breadcrumb {
        margin-bottom: 0;
    }
}

.nav-github {
    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-section-label {
        font-size: .8rem;
        font-weight: 700;
        color: var(--bs-gray-600);
        padding: 0 .8rem;

        &:not(:first-child) {
            margin-top: 1rem;
        }
    }

    .nav-section:not(:first-child) {
        padding-top: 1rem;
    }

    .nav-section:not(:last-child) {
        padding-bottom: 1rem;
        border-bottom: thin solid var(--bs-border-color);
    }

    .nav-link {
        display: flex;
        align-items: center;
        padding: .5rem .75rem;
        border-radius: var(--bs-border-radius);
        position: relative;

        &::before {
            content: '';
            display: block;
            height: 3px;
            width: 3px;
            transition: 0.2s;
            border-radius: 3px;
            position: absolute;
            left: -.5rem;
            top: 50%;
        }

        &.active {
            background-color: var(--bs-gray-100);

            &::before {
                height: 1rem;
                background-color: var(--bs-gray-600);
                top: .75rem;
            }
        }

        &:hover {
            background-color: var(--bs-gray-200);

            &::before {
                top: .4rem;
                height: 1.75rem;
                background-color: var(--bs-primary);
            }
        }

        svg {
            height: 1rem;
            margin-right: .75rem;
            padding-bottom: 2px;
        }
    }
}

.nav-button-bar {
    margin: 2rem 0;

    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav-link {
        display: inline-block;
        background-color: var(--bs-gray-100);
        padding: .5rem 1rem;
        border-radius: var(--bs-border-radius-xl);
        border: thin solid var(--bs-border-color);

        &:hover {
            background-color: var(--bs-gray-200);
        }
    }
}

.chart-wrapper {
    border: thin solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: 1rem;
    margin: 2rem 0;
}

.range-bars-wrapper {
    display: inline-flex;
    align-items: center;

    &.positive {
        .active {
            background-color: var(--bs-success);
        }
    }

    &.negative {
        .active {
            background-color: var(--bs-danger);
        }
    }
}

.range-bar {
    height: 1rem;
    width: 4px;
    background-color: var(--bs-gray-400);
    margin: 0 1px;
    border-radius: 2px;

    &:nth-child(3) {
        height: 1.25rem;
    }
}

.cogc-badge {
    padding: .5rem;
    line-height: 1;
    border-radius: var(--bs-border-radius);
    border: thin solid var(--bs-border-color);
    display: inline-flex;
    align-items: center;
}