<div{{ attributes.defaults({ class: 'chart-wrapper', 'data-controller': 'chart-component' }) }}>
    <div style="height: 400px;">
        {{ render_chart(computed.chart, {
            'data-controller': 'custom-chart',
            'data-custom-chart-view-value': computed.chart.createView|json_encode|raw
        }) }}
    </div>

    <div class="btn-group mt-5">
        <label class="btn  btn-light">
            <input type="radio" data-model="show" name="show" value="all" checked hidden>
            Colonization
        </label>
        <label class="btn  btn-light">
            <input type="radio" data-model="show" name="show" value="all" checked hidden>
            Surface
        </label>
        <label class="btn  btn-light">
            <input type="radio" data-model="show" name="show" value="all" checked hidden>
            Temperature
        </label>
        <label class="btn  btn-light">
            <input type="radio" data-model="show" name="show" value="all" checked hidden>
            Gravitation
        </label>
        <label class="btn  btn-light">
            <input type="radio" data-model="show" name="show" value="all" checked hidden>
            Pressure
        </label>
        <label class="btn  btn-light">
            <input type="radio" data-model="show" name="show" value="all" checked hidden>
            Fertility
        </label>
    </div>
</div>
