{% extends 'report/template.html.twig' %}


{% block content %}
    <nav class="pb-3 mb-5 border-bottom row row-cols-2 align-content-between w-100" style="font-size: .9rem">
        {%- set prev_month = month-1 -%}
        {%- set next_month = month+1 -%}
        <a class="link d-block"
           href="{{ path('app_report_dashboard', {region: region, month: '%02d'|format(prev_month>0?prev_month:12), year: (prev_month>0?year:year-1)}) }}">
            ‹ Previous
        </a>
        <a class="link d-block text-end"
           href="{{ path('app_report_dashboard', {region: region, month: '%02d'|format(next_month<13?next_month:1), year: (next_month<13?year:year+1)}) }}">
            Next ›
        </a>
    </nav>

    <h1>Overview</h1>

    <p>
        All data for this report is sourced from the FIO Community API and may include outdated, inaccurate, or
        incomplete information.
    </p>

    <h2 id="planets">Planets</h2>

    <p>
        This sections highlights the planets of the region and their environmental conditions. The regional population
        is discussed in the <a href="#demography">Demography</a> section.
    </p>

    <twig:chart:planets :region="region"/>

    <h2 id="demography">Demography</h2>

    <p>
        The demographic report addresses the size, distribution, and costs associated with different worker tiers.
    </p>

    <h3 id="workforce-costs">Workforce Costs</h3>
    <p>
        The figures displayed represent the daily cost for a single worker within each tier. The data points were
        calculated based on the daily consumption of each worker tier (basic and luxury) and the respective average
        daily price. To achieve this, multiple snapshots of the ask and bid prices were captured per day and averaged.
    </p>

    <twig:chart:workforce-costs :region="region" :year="year" :month="month"/>

{% endblock %}