{% extends 'base.html.twig' %}


{% block sidebar %}
    {% set sidebar_menu = 'report' %}
    {% set sidebar_route_parameters = {
        'region': region,
    } %}
    {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">
        Economic Report
    </li>
    <li class="breadcrumb-item">
        {{ region|capitalize }}
    </li>
    <li class="breadcrumb-item">
        {{ year }}
    </li>
    <li class="breadcrumb-item">
        {{ ('month.' ~ month)|trans(domain:'datetime') }}
    </li>
{% endblock %}

{% block content %}
    <h1>Overview</h1>

    <p>
        All data for this report is sourced from the FIO Community API and may include outdated, inaccurate, or
        incomplete information.
    </p>

    <h2>Demography</h2>

    <p>
        The demographic report addresses the size, distribution, and costs associated with different worker tiers.
    </p>

    <h3>Workforce Costs</h3>
    <p>
        The figures displayed represent the daily cost for a single worker within each tier. The data points were
        calculated based on the daily consumption of each worker tier (basic and luxury) and the respective average
        daily price. To achieve this, multiple snapshots of the ask and bid prices were captured per day and averaged.
    </p>

    <twig:chart:workforce-costs :region="region" :year="year" :month="month"/>

{% endblock %}